.profile {
    display: flex;

    margin-top: 15px;
}

.profile__main {
    margin-right: 10px;
}

.main__photo {

    padding: 10px;
    background-color: #ffffff;
}

.avatar {
    width: 200px;
    height: 200px;
}

.changePhoto {
    width: 200px;
}

.friends {
    width: 220px;
    padding: 10px;
    margin-top: 20px;
    margin-right: 0;
    background-color: #ffffff;
}

.friends__photo {
    width: 100%;
    border-radius: 50%;
}

.friends__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin-top: 8px;
}

.friends__item {
    width: 30%;

    text-align: center;
}

.profile__info {
    width: 530px;
}

.my__info {
    padding: 10px;
    background-color: #ffffff;
}

.name {
    font-size: 19px;
}

.status {
    cursor: pointer;

    padding: 4px;
}

.status:hover {
    background-color: #edeef0;
}

.status__input {
    width: 100%;
    margin-top: 4px;
    padding: 5px;
}

.information {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #c3c3c3;
}

.information__item {
    margin: 5px 0;
}

.btn__info {
    background: none;
    margin: 0;
    padding: 8px 0;
    border: 0;
    background-color: #e5ebf1;

    cursor: pointer;

    width: 200px;
    text-align: center;

    color: #aeb7c2;
}

.item__title {
    display: inline-block;
    width: 175px;
}

.contacts {
    margin-top: 10px;
}

.contacts__title {
    margin: 0;
}

.posts {
    margin-top: 15px;
}

.post__form {
    width: 100%;
    padding: 10px;

    background-color: #ffffff;
}

.post__form__input {
    padding: 10px 10px;
    margin-bottom: 10px;
    width: 100%;
}

.post {
    background-color: #ffffff;
    margin: 15px 0;
    padding: 15px;
}

.post__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;

    vertical-align: top;
}

.post__text {
    margin: 20px 0;
}
.post__info {
    display: flex;
}

.post__info__item {
    margin: 0 10px;
}

.post__info__icon {
    margin-right: 10px;
    vertical-align: middle;
}