.pagination {
    display: inline-block;
    display: flex;
    align-items: center;
}

.pagination__link {
    color: black;
    /*float: left;*/
    padding: 8px 16px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.pagination__btn {
    padding: 4px;
    margin: 0;
    border: 1px solid #ddd;
    background: none;
    cursor: pointer;
}

.pagination__btn:focus {
    outline: none;
}

.pagination__link.active {
    background-color: #4CAF50;
    color: white;
}

.pagination__link:hover:not(.active) {
    background-color: #ddd;
}